.logo_bienvenu {
  display: block;
  margin: 0 auto;
  width: 50px;
  height: 50px;
}
section,
.logoSection {
  margin: 100px 0;
}
section > p {
  font-size: 2em;
  color: #036581;
  font-family: centry gothic;
  text-align: center;
}

#service-name {
  color: #05aca6;
  font-size: 1.7em;
  font-family: Air Millhouse;
}

.card:hover {
  border-color: #bbbe04;
}
.btn:hover {
  background-color: #a50707;
}

.dim {
  height: max-content;
  background-color: #05aca6;
  padding-top: 20px;
  padding-bottom: 20px;
}

.dim h6,
p {
  text-align: center;
}
